@import "./color-palette.css";
.App {
  text-align: center;
  /* overflow: hidden; */
}

::-webkit-scrollbar {
  display: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background: linear-gradient(
    var(--main-bg-colour-light),
    var(--main-bg-colour-mid),
    var(--main-bg-colour-dark)
  ); */
  background-color: var(--eerie-black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-body {
  background-color: var(--eerie-black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--marine-blue);
}

hr.faded {
  border: none;
  margin: 0;
  height: 1px;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(var(--main-bg-colour-dark)),
    to(var(--main-bg-colour-dark)),
    color-stop(50%, var(--marine-blue))
  );
}

footer {
  /* background: linear-gradient(
    var(--main-bg-colour-dark),
    var(--main-bg-colour-mid),
    var(--main-bg-colour-light)
  ); */
  background-color: var(--eerie-black);
  height: 25vh;
}
