@import "./color-palette.css";

.App {
  font-family: "proxima-nova", sans-serif;
  text-align: center;
  /* width: 100%; */
  overflow: hidden;
  /* scrollbar-color: var(--spotify-rich-black-FOGRA) var(--spotify-gray-light); */
}

/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {
  .App .App-body {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {
  .App .App-body {
    width: 100%;
  }
} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {
  .App .App-body {
    width: 100%;
  }
} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
  .App .App-body {
    width: 100%;
  }
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
  .App,
  .App-body {
    width: 100%;
  }
} */
/* 
.App h1 {
  color: var(--spotify-green);
} */

::-webkit-scrollbar {
  scrollbar-color: var(--spotify-gray-light) var(--spotify-rich-black-FOGRA);
}

::-webkit-scrollbar-track {
  background: var(--spotify-rich-black-FOGRA);
}

::-webkit-scrollbar {
  width: 2em;
  height: 2em;
  /* display: none; */
  background: var(--spotify-rich-black-FOGRA);
}

::-webkit-scrollbar-thumb {
  background-color: var(--spotify-green);
  border-radius: 15px;
  max-height: 10px;
  /* border: 3px solid var(--spotify-green); */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background: linear-gradient(
    var(--main-bg-colour-light),
    var(--main-bg-colour-mid),
    var(--main-bg-colour-dark)
  ); */
  background-color: var(--spotify-rich-black-FOGRA);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  /* background-size: 100%; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-body {
  background-color: var(--spotify-rich-black-FOGRA);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--marine-blue);
}

hr.faded {
  border: none;
  margin: 0;
  height: 1px;
  background: -webkit-gradient(
    linear,
    0 0,
    100% 0,
    from(var(--main-bg-colour-dark)),
    to(var(--main-bg-colour-dark)),
    color-stop(50%, var(--marine-blue))
  );
}

footer {
  /* background: linear-gradient(
    var(--main-bg-colour-dark),
    var(--main-bg-colour-mid),
    var(--main-bg-colour-light)
  ); */
  background-color: var(--spotify-rich-black-FOGRA);
  height: 25vh;
}
