@import "./color-palette.css";

.box {
  /* border: white solid 1px; */
  padding: 50px;
  display: flex;
  flex-direction: column;
  min-width: 100vh;
  height: 40vmin;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  /* background-color: var(--max-yellow-red); */
  /* background: linear-gradient(
    var(--max-yellow-red),
    var(--egg-yellow),
    var(--bright-yellow-crayola)
  ); */

  background-color: var(--spotify-rich-black-FOGRA);
  color: var(--spotify-green);
}

.small-boxes-container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .box {
    height: auto;
  }
}
