.circle-image {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.circle-image img {
  display: block;
  max-width: 100%;
  height: auto;
}

.circle-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 3px solid #ffffff; /* set border width and color */
  box-sizing: border-box;
  z-index: 1;
  animation: circle-border 2s ease-in-out infinite; /* set animation */
}

/* .word-wrap {
  white-space: nowrap;
} */

.word-wrap {
  white-space: nowrap;
}

.word {
  opacity: 0;
  animation: fadeInOut 4s ease infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
